@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900");

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

#widget-container {
    position: fixed;
    z-index: 10000;
    right: 0;
    bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
}

#widget-container.left {
    right: auto;
    left: 0;
}

#widget-container.left {
    right: auto;
    left: 0;
}

#widget-container.left .widget-launcher,
#widget-container.left .anychat-chat-icon {
    right: auto;
    left: 14px;
}

.widget-launcher {
    float: left;
    cursor: pointer;
    position: absolute;
    width: 56px;
    height: 56px;
    right: 38px;
    bottom: 27px;
    border-radius: 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
}

.widget-launcher i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 24px;
}

#widget-container.left .anychat-chat-icon.anychat-panel {
    left: auto;
}

.widget-launcher.widget-launcher-active .anychat-brand {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

#chat-window {
    overflow: scroll;
    /*border: 1px solid rgba(0, 0, 0, .14);*/
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*border-radius: 5px;*/
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
    z-index: 4;
    position: fixed;
    bottom: 0;
    left: 0;
}
#chat-window.no-border {
    border: none;
    border-radius: 0;
}

#chat-window .chat-top {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    /*right: 50%;*/
    /*transform: translateX(50%);*/
    width: 100%;
    height: 30px;
    /*box-shadow: 0 0 6px 6px rgba(0, 0, 0, .25);*/
    /*border-radius: 18px;*/
    background: #ffffff;
    padding: 2px 10px;
    /*margin: 4px 0;*/
    top: 0;
}

#chat-window .chat-top .close-btn {
    display: inline-block;
    float: right;
}

#chat-window .chat-top .close-btn:before {
    content: "\00d7";
    float: right;
    color: rgba(256, 256, 256, .75);
    cursor: pointer;
    font-size: 20px;
}

#chat-window .chat-top .anychat-label {
    text-align: left;
    right: auto;
    position: relative;
}

#chat-window .chat-top .heading {
    /*color: #783bd2;*/
    color: rgba(256, 256, 256, .7);
    font-size: 12px;
    display: block;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

#chat-window .chat-top .subheading {
    /*color: #783bd2;*/
    font-size: 10px;
}

#chat-window .chat-bottom {
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 15px;
    right: 15px;
    margin: 0;
    background-color: rgba(256, 256, 256, .88);
    padding: 0;
    z-index: 105;
    /*box-shadow: 0 -2px 40px rgba(0, 0, 0, 0.1);*/
}

#chat-window .chat-top .branding{
    margin: 6px 0 0;
    font-size: 12px;
    color: rgba(256, 256, 256, .75);
    display: inline-block;
}
#chat-window .chat-top .branding a,
#chat-window .chat-top .branding a:hover,
#chat-window .chat-top .branding a:focus {
    color: #ffffff;
    font-size: 12px;
    text-decoration: underline !important;
}

#chat-window .chat-bottom .input-container {
    /*border-bottom: 1px solid #dadada;*/
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.139216);
    background: #FFFFFF;
}

#chat-window .chat-bottom .send-message {
    display: inline-block;
    cursor: pointer;
    width: 88px;
    height: 50px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    color: #2F80ED;
    text-align: left;
    padding-left: 16px;
}

#chat-window .chat-bottom .send-message.disabled {
    color: #dadada;
}

/*#chat-window .chat-bottom .send-message i {*/
    /*font-size: 26px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*color: #4b5053;*/
/*}*/

#chatInput {
    display: inline-block;
    border: none;
    vertical-align: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    height: 50px;
    background-color: transparent;
    padding: 0 0 0 30px;
}

#chatInput:focus {
    outline: none;
}

#chatInput.black-placeholder::-webkit-input-placeholder {
    color: #dadada !important;
}

#chat-window .message-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
    display: flex;
    flex-direction: column-reverse;
    padding: 60px 0 60px 15px;
}

#chat-window .message-container::-webkit-scrollbar {
    display: block;
}

#chat-window .message-container .start-screen {
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #FFFFFF;
    z-index: 1;
    text-align: center;
    /*display: none;*/
}

#chat-window .start-screen .start-img {
    width: 100%;
    margin-top: -16%;
}
#chat-window .start-screen .start-logo {
    width: 100px;
    margin: -55px auto 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 100px;

}
#chat-window .start-screen .start-text {
    float: left;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    padding: 20px;
    font-size: 18px;
    color: #4F4F4F;
}
#chat-window .start-screen .start-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #D0112B;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
#chat-window .start-screen .start-btn:hover {
    cursor: pointer;
}

#chat-window .message-container .message-outer:last-child {
    margin-top: 0;
}

#chat-window .message-container .message-outer:last-child .chat-message {
    padding: 0;
}

#chat-window .message-container .chat-message {
    font-weight: 400;
    font-size: 14px;
    padding: 12px 18px;
    margin: 4px;
    display: inline;
    clear: both;
    max-width: 77%;
    word-wrap: break-word;
    line-height: 100%;
    position: relative;
    border-radius: 4px;
    background: #F1F1F1;
    color: #333333;
}

#chat-window .message-container .message-row {
    float: left;
    clear: both;
    width: 100%;
}

#chat-window .message-container .chat-message.bot {
    float: left;
    clear: none !important;
    /*background: #2F80ED;*/
    /*box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
    /*color: #FFFFFF;*/
    text-align: left;
}
#chat-window .message-container .bot-icon {
    display: inline-block;
    width: 40px;
    float: left;
}
#chat-window .message-container .bot-icon img {
    width: 100%;
    border-radius: 100px;
}

#chat-window .message-container .chat-message.button {
    font-weight: 400;
    font-size: 14px;
    padding: 12px 18px;
    margin: 0 0 0 4px;
    display: block;
    clear: both;
    width: 92%;
    word-wrap: break-word;
    line-height: 100%;
    position: relative;
    background-color: #2F80ED;
    border: solid #F1F1F1;
    border-width: 1px 0 0;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0;
    top: -4px;
    z-index: 0;
}
#chat-window .message-container .chat-message.button:first-child {
    border-radius: 4px 4px 0 0;
}
#chat-window .message-container .chat-message.button:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 1px;

}
#chat-window .message-container .chat-message.button:hover {
    background-color: #2F80ED;
    opacity: .9;
    cursor: pointer;
    text-decoration: none;
}

#chat-window .chat-top {
    background-color: #D0112B;
    color: rgba(256, 256, 256, .7);
    border-bottom: 1px solid rgba(0, 0, 0, .14);
    z-index: 1;
    text-align: left;
}

#chat-window .message-container .chat-message.bot .arrow {
    position: absolute;
    z-index: 100;
    left: 598px;
    top: 110px;
    border-top: 40px solid transparent !important;
    border-bottom: 10px solid transparent !important;

    border-left: 40px solid #db001e !important;
}

#chat-window .message-container .chat-message.user {
    float: right;
    background: #2F80ED;
    /*box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
    color: #FFFFFF;
    text-align: left;
}

#chat-window .message-container .chat-message.user .arrow {
    position: absolute;
    right: 2px;
    margin-top: 2px;
    border-top: 20px solid #7842CE !important;
    border-bottom: 18px solid transparent !important;
    border-left: 30px solid transparent !important;
}

#chat-window .message-container .chat-message.user .arrow,
#chat-window .message-container .chat-message.user .person,
#chat-window .message-container .chat-message.user .hour {
    visibility: hidden;
}

#chat-window .message-container .message-outer {
    margin-bottom: 4px;
    text-align: left;
}

#chat-window .message-container .message-outer.user .chat-message.user:last-child .arrow,
#chat-window .message-container .message-outer.user .chat-message.user:last-child .person,
#chat-window .message-container .message-outer.user .chat-message.user:last-child .hour {
    visibility: visible;
}

#chat-window .message-container .chat-message.user .person {
    right: 12px;
}

#chat-window .message-container .chat-message.user .hour {
    right: 0;
}

#chat-window .message-container .chat-message.user .person,
#chat-window .message-container .chat-message.user .hour {
    position: absolute;
    margin-top: 12px;
    color: #000000;
    font-size: 12px;
    opacity: .8;
}

#chat-window .message-container .scrolling-container {
    /*height:40px;*/
    padding:0;
    overflow:hidden;
    position:relative;
    z-index:99;
    display: flex;
    align-items: center;
    justify-content: center;
}
#chat-window .message-container .scrolling-container.scrollable:not(.list) {
    padding: 0 40px;
}

#chat-window .message-container .scrolling-container.scrollable:not(.list) .arrow{
    display: flex;
}



#chat-window .message-container .scrolling-container .arrow {
    width:40px;
    height:40px;
    line-height:60px;
    text-align:center;
    border: 1px solid rgba(0, 0, 0, 0.139216);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;: ;
    font-weight:bold;
    cursor:pointer;
    position:absolute;
    z-index:101;
    justify-content: center;
    align-items: center;
    opacity: .9;
    display: none;
}
.arrow:first-of-type {
    left:0;
}
.arrow:nth-of-type(2) {
    right:0;
}
#chat-window .message-container .scrolling-container ul {
    width:auto;
    /*height:40px;*/
    overflow:hidden;
    list-style-type:none;
    white-space:nowrap;
    transition:2.0s;
    padding: 0;
    margin: 0;
    display: flex;
}

#chat-window .message-container .scrolling-container.list ul {
    display: block;
    width: 100%;
}

#chat-window .message-container .scrolling-container ul li {
    padding:0 30px;
    background: #2F80ED;
    /*box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

#chat-window .message-container .scrolling-container.quick ul li {
    padding: 6px 20px;
    cursor: pointer;
}

#chat-window .message-container .scrolling-container ul .generic {
    display: flex;
    align-items: flex-end;
    border-radius: 4px;
    background: #FFFFFF;
    padding: 0;
    flex-direction: column;
}

#chat-window .message-container .scrolling-container.list ul .generic {
    padding: 12px;
}

#chat-window .message-container .scrolling-container ul .generic .generic-img {
    padding: 10px 10px 0;
    width: 100%;
}

#chat-window .message-container .scrolling-container.list ul .generic .generic-img {
    display: none;
}

#chat-window .message-container .scrolling-container ul .generic .generic-img .inner {
    height: 100px;
    background: no-repeat center;
    background-size: cover;
}

#chat-window .message-container .scrolling-container ul .generic .generic-info {
    padding: 10px 15px;
    text-align: left;
    width: 100%;
}
#chat-window .message-container .scrolling-container.list ul .generic .generic-info {
    padding: 0;
}

#chat-window .message-container .scrolling-container ul .generic .generic-info .title {
    color: #333333;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
    white-space: normal;
}
#chat-window .message-container .scrolling-container ul .generic .generic-info .subtitle {
    color: rgba(0, 0, 0, .3);
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
    display: block;
    float: left;
    word-break:break-all;
    overflow: visible;
    white-space: normal;
}

#chat-window .message-container .scrolling-container.list ul .generic .generic-info .title,
#chat-window .message-container .scrolling-container.list ul .generic .generic-info .subtitle {
    margin-bottom: 10px;
}


#chat-window .message-container .scrolling-container ul .generic .generic-btn {
    align-self: center;
    text-align: center;
    padding: 6px;
    width: 100%;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#chat-window .message-container .scrolling-container.list ul .generic .generic-btn {
    align-self: flex-start;
    width: auto;
    display: inline-block;
    border: 1px solid #2F80ED;
    color: #2F80ED;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
}

#chat-window .message-container .scrolling-container ul .generic .generic-btn:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}




/*#chat-window .message-container .quick-reply-container .inner {*/
    /*height: 100%;*/
    /*white-space: nowrap;*/
    /*text-align: center;*/
/*}*/

/*#chat-window .message-container .quick-reply-container .background {*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: -2px;*/
/*}*/

/*#chat-window .quick-reply-container .quick-reply {*/
    /*height: 34px;*/
    /*background: #FFFFFF;*/
    /*display: inline-block;*/
    /*border: 1px solid #783bd2;*/
    /*margin: 0 3px;*/
    /*padding: 6px 3px;*/
    /*border-radius: 16px;*/
    /*color: #783bd2;*/
    /*cursor: pointer;*/
    /*font-size: 12px;*/
/*}*/

/*#chat-window .quick-reply-container .quick-reply .color-dot {*/
    /*height: 10px;*/
    /*width: 10px;*/
    /*display: inline-block;*/
    /*margin-left: 3px;*/
    /*margin-right: 3px;*/
    /*vertical-align: middle;*/
    /*background-color: #783bd2;*/
    /*border-radius: 100px;*/
/*}*/

/*#chat-window .quick-reply-container .btn-next,*/
/*#chat-window .quick-reply-container .btn-prev {*/
    /*position: absolute;*/
    /*width: 38px;*/
    /*height: 38px;*/
    /*top: 0;*/
    /*cursor: pointer;*/
    /*z-index: 1;*/
    /*display: none;*/
    /*background: #FFFFFF;*/
    /*opacity: .88;*/
/*}*/

/*#chat-window .quick-reply-container .btn-prev > img,*/
/*#chat-window .quick-reply-container .btn-next > img {*/
    /*max-width: 100%;*/
/*}*/

/*#chat-window .quick-reply-container .btn-next {*/
    /*right: 0;*/
/*}*/

/*#chat-window .quick-reply-container .btn-prev {*/
    /*right: 250px;*/
/*}*/

.widget-launcher {
    transition: color 0.7s;
    -webkit-transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D0112B;
    -moz-box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    z-index: 3;
}

.widget-effect:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    content: "";
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
}

.widget-effect:before,
.widget-effect:after {
    box-shadow: 0 0 0 2px rgba(111, 148, 182, 0.6);
}


#wave {
    width: 70px;
    height: 32px;
    padding-top: 6px;
}
div#wave .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 3px;
    background: rgba(0, 0, 0, .5);
    animation: wave 1.3s linear infinite;
}
div#wave .dot:nth-child(2) {
    animation-delay: -1.1s;
    background: rgba(0, 0, 0, .3);
}
div#wave .dot:nth-child(3) {
    animation-delay: -0.9s;
    background: rgba(0, 0, 0, .1);
}

@keyframes wave {
    0%, 30%, 90% {
        transform: initial;
    }
    15% {
        transform: translateY(-6px);
    }
}

