body {
    margin: 0;
    padding-top: 82px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
}

h1, h2 {
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

p {
    font-size: 16px;
    line-height: 120%;
}

a {
    color: #2F80ED;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    color: #2F80ED;
}

.margin-0 {
    margin: 0 !important;
}

.navbar-btn {
    outline: none !important;
    text-decoration: none;
    box-shadow: none !important;
}

.learn-more-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    text-decoration: none !important;
    color: #3A87F0;
    margin-top: 20px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.learn-more-btn.blue {
    background-color: #2F80ED;
    color: #ffffff;
    border: none;
    margin-top: 50px;
}

.navbar.navbar-default {
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}


.navbar-default .navbar-brand img {
    width: 82px;
}

.navbar-default .navbar-center {
    text-align: center;
}

.navbar-nav>li:hover {
    background: rgba(0, 0, 0, .02);
}

.navbar-default .navbar-btn {
    background: transparent;
    color: #3A87F0;
    font-size: 18px;
    font-weight: 500;
}
.navbar-default .navbar-btn:hover {
    text-decoration: underline;
}

.navbar-default .navbar-brand {
    margin-left: 0 !important;
    margin-right: 80px;
    padding: 0;
    line-height: 100%;
    text-transform: lowercase;
    height: auto;
    cursor: pointer;
}

.navbar-default .navbar-brand p {
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 100%;
}

.navbar-default .navbar-nav > li > a {
    font-size: 18px;
    padding: 32px 16px;
    line-height: 100%;
    font-weight: normal;
    color: #828288 !important;
}
.navbar-default .navbar-nav > li > a.btn {
    color: #3A87F0 !important;
    font-weight: 500;
    border: none;
}

.navbar-default .navbar-nav > .active > a {
    background-color: transparent !important;
    border-bottom: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-default .nav li .dropdown-menu {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 0;
}

.navbar-default .nav li .dropdown-menu li a {
    padding: 20px;
}

.slide-1 {
    /*height: 100vh;*/
}

.slide-1 .content {
    /*height: calc(100% - 50px);*/
    width: 100%;
}

.img-container img {
    width: 100%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 50px auto 0;
}

.slide-1 .top {
    display: table;
    float: left;
    width: 100%;
    /*height: calc(100vh - 76px);*/
    padding: 50px 0;
    background: linear-gradient( rgba(17, 36, 62, .75), rgba(29, 65, 113, .75)), url("../images/main-background.png") center;
    background-size: cover;
}

.slide-1 .top .inner {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding: 10px 15px 0;
}

.slide-1 .top h1 {
    color: #FFFFFF;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.slide-1 .top p {
    display: block;
    max-width: 750px;
    margin: 10px auto 0;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
}

.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6 {
    padding: 50px 0;
}

.slide-2 h2,
.slide-3 h2,
.slide-4 h2,
.slide-5 h2,
.slide-6 h2 {
    font-size: 36px;
    color: #333333;
    max-width: 570px;
    text-align: center;
    margin: 0 auto;
}

.slide-2 p,
.slide-3 p,
.slide-4 p,
.slide-5 p,
.slide-6 p {
    display: block;
    max-width: 750px;
    margin: 10px auto 0;
    color: rgba(0, 0, 0, 0.5);
}

.slide-2 .top {
    margin-bottom: 50px;
}
.slide-2 .top p {
    max-width: 80%;
    text-align: center;
    margin-top: 0;
}

.slide-2 .aim-block {
    text-align: left;
    padding: 0;
    transition: .2s ease-in-out;
    display: flex;
    flex: 1;
}

.slide-2 .aim-block:first-child .inner {
    background: linear-gradient( rgba(17, 36, 62, .5), rgba(29, 65, 113, .5)), url("../images/image1.jpg") center;
}
.slide-2 .aim-block:last-child .inner {
    background: linear-gradient( rgba(17, 36, 62, .5), rgba(29, 65, 113, .5)), url("../images/image3.jpg") left center;
}

.slide-2 .aim-block .inner {
    background: linear-gradient( rgba(17, 36, 62, .5), rgba(29, 65, 113, .5)), url("../images/image2.jpg") center;
    padding: 20px;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide-2 .aim-block h4 {
    font-weight: normal;
    color: #FFFFFF;
    font-size: 24px;
    margin: 0 0 140px;
}

.slide-2 .aim-block p {
    color: #FFFFFF;
    margin: 0 0 20px;
    word-wrap: break-word;
}

.slide-2 .aim-block a {
    color: #FFFFFF;
}

.slide-3 {
    background: #F9F9F9;
}

.slide-3 .top h3 {
    max-width: 80%;
    margin: auto;
}

.slide-3 .info-blocks {
    margin-top: 50px;
    text-align: center;
}

.slide-3 .info-blocks img {
    max-width: 100%;
    height: 50px;
}

.slide-3 .info-blocks h3 {
    margin: 20px 0 10px;
}

.slide-4 {
    text-align: left;
}

.slide-4 img {
    width: 100%;
}

#footer {
    width: 100%;
    background: #1B4278;
    height: 120px;
    display: flex;
    align-items: center;
}

.footer-inner a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 0;
    float: left;
    line-height: 140%;
}

.footer-inner .social-link {
    width: 27%;
    display: inline-block;
    margin-right: 6%;
}

.footer-inner .social-link img {
    width: 100%;
}


.footer-inner a:hover {
    text-decoration: none !important;
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
}

.footer-inner .logo {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    text-transform: lowercase;
    color: rgba(256, 256, 256, .5);
    margin: 0 0 20px;
}

.footer-inner p {
    margin: 0;
    color: rgba(256, 256, 256, .5);
    line-height: 140%;
}

@media (max-width: 1199px) {
    .navbar.navbar-default .container-fluid {
        /*padding: 0 20px;*/
    }

    .slide-4 {
        background-size: initial;
    }

    .footer-inner a {
        margin-right: 16px;
    }
}

@media (max-width: 991px) {
    .navbar-default .navbar-btn {
        font-size: 16px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 32px 10px;
    }

    .navbar-default .navbar-brand p {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .flexbox {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
    }

    .table-display {
        display: table !important;
    }

    .table-cell {
        display: table-cell !important;
        float: none !important;
        vertical-align: middle;
    }

    .navbar.navbar-default .container-fluid {
        padding: 0 100px;
        display: flex;
        justify-content: flex-start;
    }

    .collapse.navbar-collapse {
        display: flex !important;
        justify-content: space-between;
        margin-left: auto;
    }

    .navbar-default .navbar-header {
        display: flex;
        align-items: center;
    }

    .slide-2 .aim-block:first-child {
        padding-right: 4px;
    }
    .slide-2 .aim-block:nth-child(2) {
        padding: 0 2px;
    }
    .slide-2 .aim-block:last-child {
        padding-left: 4px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 60px;
    }
    h1 {
        margin-top: 0;
    }

    .container-fluid > .navbar-header {
        height: 60px;
    }

    .navbar-toggle {
        margin-top: 14px !important;
        margin-right: 30px !important;
    }

    .navbar-default .navbar-brand {
        padding-left: 30px;
        height: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 16px 10px;
    }

    .navbar-default .navbar-nav > .active > a {
        border-bottom: none;
    }

    .navbar-default .navbar-brand img {
        height: 100%;
        width: auto;
    }

    .img-container {
        padding: 0 30px;
    }

    .slide-2 .aim-block.center {
        margin: 20px auto 0;
    }

    .slide-2 .aim-block:nth-child(2) {
        margin: 6px 0;
    }


    .slide-4 {
        text-align: center;
    }
    .slide-4 .table-cell {
        padding: 0 30px;
    }
    .slide-4 img {
        width: auto;
        display: inline-block;
        margin-top: 50px;
    }

    .footer-inner {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-inner .copyright {
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-inner .logo {
        text-align: center;
    }
}

@media (max-width: 522px) {
    .socials {
        padding: 0;
    }
}
